@page
@model WebDb.Pages.DeleteModel
@{
}
<html>
<body>
    <h1>آیا از حذف مددجو مطمین هستید؟</h1>
    <form method="post">
        <input class="btn-primary" type="submit" value="بلی" />
        <input class="btn-outline-primary" type="reset" value="خیر"/>
    </form>
    @if(ViewData["Error"] != null)
            {
                <div>اجرای دستور با خطای زیر مواجه شد<br/>
                @ViewData["Error"]
                </div>
            }
</body>
</html>
